@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #00ff9c;
    --secondary-color: #b6ffa1;
    --accent-color: #ffe700;
    --background-color: #feffa773;
    --text-color: #1f2323;
    --text-colorr: #184710;
    --menu-color: #b5bbb9ee;
    --form-color: #f8fffc;
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
    --font-heading: "Manrope", sans-serif;
    --font-mono: "Fira Code", monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--text-color);
    background: var(--background-color);
    font-family: var(--font-primary);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
